<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.SelfHost" version="3.1.0" targetFramework="net45" />
  <package id="Nancy" version="1.4.4" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.RouteHelpers" version="1.0.6" targetFramework="net45" />
  <package id="Nancy.Serialization.JsonNet" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="NUnit.Runners" version="3.7.0" /> 
</packages>